body {
  background-color: #2f6980;
  color: #b3c8ce;
}

.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}

#mainWrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "area01 area02 area03";
  padding: 0vw 20vw 0vw 20vw;
}

#wrapperFiltering{
grid-area: area01;
}

#wrapperSorting{
grid-area: area03;
}
.listWrapper {
  grid-area: area02;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 15vw 8vw;
  grid-template-rows: auto auto;
  /*margin-left: 25vw;*/
 /* transform: translate(-50%);*/
  grid-template-areas: 
  "area1 area2"
  "area3 area3";
  height: 50vh;
}

.Name-h{
    grid-area: area1;
    text-transform: uppercase;
    
}

.House-h{
    grid-area: area2;
    text-transform: uppercase;
}

.scroller{
    grid-area: area3;
}

}

p {
  font-size: 16px;
}

.scroller{
    display: grid;
    grid-template-columns: 15vw 8vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "area11 area22";
    height: 70vh;
    overflow: auto;
}


.name{
    grid-area: area11;
}

.house{
    grid-area: area22;
}

/*Scrollbar style. Credits: https://css-tricks.com/the-current-state-of-styling-scrollbars/*/

::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 2px;
    background:#829ea5;
}

/*handle*/
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #b3c8ce;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dce3e5;
}

/*
.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e
}

.hufflepuf {
  background-color: #ffc02a;
  color: #0b0000  
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36  
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6  
}*/

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modalContent {
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modalClose {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

#filterButton, #sortingButton {
float: right;
border-radius: 7px;
border-color: #b3c8ce;
border: 1px;
color: #b3c8ce;
height: 40px;
width: 120px;
background-color: transparent;
font-size: 12px;
padding: 10px 10px;
text-align: center;
border-style: solid;
margin: 3px;
text-transform: uppercase;
font-weight: 700;
}

#filterButton:hover, #sortingButton:hover{
box-shadow: 0px 0px 50px #0099ff;
text-shadow: 4px 4px 10px #0099ff;
color: white;
}