body {
  background-color: #2f6980;
  color: #b3c8ce;
}

.gryffindor {
  background-color: rgba(206, 58, 10, 0.8);
  color: #fdb02e;
}

.hufflepuff {
  background-color: rgba(255, 192, 42, 0.8);
  color: #0b0000;
}

.ravenclaw {
  background-color: rgba(57, 95, 157, 0.8);
  color: #e9ba36;
}

.slytherin {
  background-color:rgba(88, 140, 57, 0.8);
  color: #c0b1c6;
}

#mainWrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "area01 area02 ."
  "area04 area02 .";
  padding: 0vw 20vw 0vw 20vw;
}

#wrapperFilteringSorting{
grid-area: area01;
}

#removeButton{
  display: inline-block;
}

#wrapperButton{
grid-area: area04;
}
.listWrapper {
  grid-area: area02;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 15vw 8vw;
  grid-template-rows: auto auto;
  /*margin-left: 25vw;*/
 /* transform: translate(-50%);*/
  grid-template-areas: 
  "area1 area2"
  "area3 area3";
  height: 50vh;
}

.Name-h{
    grid-area: area1;
    text-transform: uppercase;
    
}

.House-h{
    grid-area: area2;
    text-transform: uppercase;
}

.scroller{
    grid-area: area3;
}

}

p {
  font-size: 16px;
}

.scroller{
    display: grid;
    grid-template-columns: 15vw 8vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "area11 area22";
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.name{
    grid-area: area11;
}

.house{
    grid-area: area22;
}

/*Scrollbar style. Credits: https://css-tricks.com/the-current-state-of-styling-scrollbars/*/

::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 2px;
    background:#829ea5;
}

/*handle*/
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #b3c8ce;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dce3e5;
}

/*
.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e
}

.hufflepuf {
  background-color: #ffc02a;
  color: #0b0000  
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36  
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6  
}*/

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
border-radius: 20px;
}

/* Modal Content/Box */
.modalContent {
margin: 15% auto; /* 15% from the top and centered */
border: 10px solid #b3c8ce;
width: 359px; /* Could be more or less, depending on screen size */
height: 170px;
border-radius: 20px;
padding: 5vw;
}

/* The Close Button */
.modalClose {
color: black;
float: right;
font-size: 28px;
font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
color:gainsboro;
text-decoration: none;
cursor: pointer;
}

#modalWrapper{
  border-radius: 20px;
}

#filterButton{
float: left;
border-radius: 7px;
border-color: #b3c8ce;
border: 1px;
color: #b3c8ce;
height: 40px;
width: 120px;
background-color: transparent;
font-size: 12px;
padding: 10px 10px;
text-align: center;
border-style: solid;
margin: 30px 0 0 0;
text-transform: uppercase;
font-weight: 700;
box-shadow: 0px 0px 50px #0099ff;;
text-shadow: 4px 4px 10px #0099ff;
}

#filterButton:hover{
box-shadow: none;
text-shadow: none;
color: white;
}

.filter{
  width: 120px;
}

.student:hover{
box-shadow: 0px 0px 50px #0099ff;;
text-shadow: 4px 4px 10px #0099ff;
}

#crestPhoto{
  float: right;
}

#hA, #hB, #hC{
  font-size: 1.5em;
}

.fullWarning{
  width: 100%;
  height: 100%;
  background: orange;
  display:none;
}

.visualWarning{
  width: 100%;
  height: 100%;
  background: purple;
  display:none;
}

.squadWarning{
  width: 100%;
  height: 100%;
  background: yellow;
  display:none;
}

.removeStudent:hover{
  box-shadow: 0px 0px 50px red;
text-shadow: 4px 4px 10px red;
}

#counting{
margin: 0px;
}